		body{
			margin:0px;
			padding:0px;
		}
   		a{
   			float: right;
   			padding-right:10px;
   		}
   		.container{
			margin-top:22px;		
   		}
   		.div1{
   			margin-top:-5px;
   			height:50px;
   			padding-left:180px;
   		}
   		.div2{
   			margin-top:20px;
   			height:95%;
   			background-image:url("../images/login_2.jpg");
   			background-size:100% 103%;
   			background-repeat: no-repeat;
   		}
   		.formDiv{
   			padding:20px;
   			padding-left:60%;
   			padding-top:3%;
   			width:90%;
   		}
   		.formDiv2{
   			padding:30px;
   			padding-top:5%;
   			background-color: white;
   			height:auto !important;
   			border: solid 1px white;
   			border-radius:5px;
   		}
   		p{
   			font-size:13;
   			float: left;
   		}
   		.tip{
   			padding:5px;
   			border: dotted 1px black;
   			border-radius:5px;
   		}
   		h3{
   			color:green;
   		}
   		h5{
   			text-align: center;
   		}
