<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/datetimepicker/css/bootstrap-datetimepicker.css">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <h3>编辑新商品</h3>

        <div class="form-group">
            <button class="btn btn-primary">保存</button>
        </div>
        </form>

    </div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


</body>
</html>